* {
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;  
  
  
}



.flexcontainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 margin-left: 10px;
  z-index: 1
  ;
}

header {
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  position: fixed;
}

header img {
  height: 50px;
}

a {
  display: inline-flex;
  text-align: right;
 
}

h2,
h3,
h4 {
  margin: 0;
  padding: 3px;
  text-align: center;
}

.mission-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: ce;
  height: 700px;
  width: 1200px;
  background-image: URL("./Resources/IMG/2.jpg");
  background-size: cover; 
  background-position: center;
}

div {
  margin-left: 20px;
}

.tea-content {
  width: 1000px;
  
}
.teaimg{
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-items: center;
}
figcaption{
  margin-top: 10px;
  text-align: center;
}
div img{
  height: 200px;
  width: 300px;
}

.locations{
  background-image: URL("./Resources/IMG/7.jpg");
  background-size: cover; 
  background-position: center;
  height: 500px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.locationstitle {
  text-align: center;
  padding: 20px 20px;
 
}

div .contact {
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
}
